<aside
  id="sidebar"
  data-sidebar-target="toggleButton"
  aria-expanded="false"

  class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full transition-transform duration-75 lg:z-0 lg:translate-x-0 lg:pt-16 lg:transition-width"
  aria-label="Sidebar">

  <div class="h-full overflow-y-auto border-r border-primary-600 bg-white px-3 py-4 dark:bg-gray-800">

    <ul class="space-y-2">
      <li>
        <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
          <%= show_icon("pages.svg") %>
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Pages</span>
          <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <ul id="dropdown-pages" class="py-2 space-y-2 block">
          <li>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
