<aside id="sidebar" class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full transition-transform duration-75 lg:z-0 lg:translate-x-0 lg:pt-16 lg:transition-width"
  aria-label="Sidebar"
  data-sidebar-target="sidebar"
  data-sidebar-target="sidebar"
  data-action="mouseenter->sidebar#handleMouseEnter mouseleave->sidebar#handleMouseLeave">

  <div class="h-full overflow-y-auto border-r border-primary-600 bg-white px-3 py-4 dark:bg-gray-800">
    <ul class="space-y-2 border-b border-primary-400">
      <li>
        <button type="button"
          class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-myesim"
          data-collapse-toggle="dropdown-myesim"
          data-sidebar-collapse-item
        >

          <%= inline_svg_tag("icons/pages.svg", class: "w-5 h-5", size: '24') %>
          <span class="ml-3 flex-1 whitespace-nowrap text-left" data-sidebar-collapse-hide>Quake</span>
          <%= inline_svg_tag("icons/toggle.svg", class: "w-5 h-5", size: '24', data: { "sidebar-collapse-hide" => true } ) %>
        </button>

        <div class="my-2"data-sidebar-collapse-hide>
          <ul id="dropdown-myesim" class=<%= current_page?(root_path) ? "space-y-2 py-2" : "hidden" %>>
            <li>
              <%= link_to "Games", root_path,
              class: "#{current_page?(root_path) ? 'bg-gray-100 dark:bg-gray-700' : ''} hover:bg-gray-100 dark:hover:bg-gray-700 group flex w-full items-center rounded-lg p-2 pl-10 text-base font-medium text-gray-900 dark:text-white",
              data: { sidebar_collapse_subitem: true } %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
