<nav class="fixed z-10 flex h-16 w-full items-center border-b border-primary-600 bg-white px-4 dark:bg-gray-800">
  <div class="flex w-full items-center justify-between">

    <%= render(Sidebars::ToggleComponent.new(user:  @user)) %>
    <div class="flex items-center">
      <a href="/" class="flex items-center pr-4">
      </a>
    </div>

    <div class="flex items-center lg:order-2">
      <div class="flex items-center space-x-1 sm:pe-2">
        <div data-controller="components--dropdowns">
          <%= render(Dropdowns::LanguageComponent.new) %>
        </div>
        <%= render(ToogleDarkmodeComponent.new) %>
      </div>
      <div class="hidden h-5 w-px bg-gray-100 dark:bg-gray-700 sm:block"></div>
      <%= render(Dropdowns::UserAvatarComponent.new user: @user) %>
    </div>
  </div>
</nav>
