/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'intl-tel-input/build/css/intlTelInput.min.css';
@import 'flag-icons/css/flag-icons.min.css';

@layer base {
  a {
    @apply text-blue-600 hover:underline dark:text-blue-500
  }
  h1, h2, h3, h4, h5, h6{
    @apply dark:text-white;
  }
  p {
    @apply dark:text-white;
  }
}

.iti {
  width: 100%;
  display: block;
}

.iti {
  --iti-path-flags-1x: url('flags.png');
  --iti-path-flags-2x: url('flags@2x.webp');
  --iti-path-globe-1x: url('globe.webp');
  --iti-path-globe-2x: url('globe@2x.webp');
}

.fi-br {
  background-image: url('./flags/4x3/br.svg');
}

.fi-us {
  background-image: url('./flags/4x3/us.svg');
}