.datatable-table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.datatable-top::after, .datatable-bottom::after {
  content: none;
  display: none;
}

.datatable-sorter::before, .datatable-sorter::after {
  content: none;
  display: none;
}

.datatable-filter::before {
  content: none;
  display: none;
}

.datatable-table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
    border-bottom: none;
}

.datatable-wrapper .datatable-top {
    align-items: center;
}
.datatable-wrapper {
  width: 100%;
}
.datatable-wrapper .datatable-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.datatable-wrapper .datatable-search .datatable-input, .datatable-wrapper .datatable-input {
  color: #111827;
  font-size: 0.875rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  background-color: #F9FAFB;
  min-width: 16rem;
}
.dark .datatable-wrapper .datatable-search .datatable-input, .dark .datatable-wrapper .datatable-input {
  color: white;
  background-color: #1F2937;
  border: 1px solid #374151;
}
.datatable-wrapper thead th .datatable-input {
  background-color: white;
  font-weight: 400;
  color: #111827;
  padding-top: .35rem;
  padding-bottom: .35rem;
  min-width: 0;
}
.dark .datatable-wrapper thead th .datatable-input {
  background-color: #374151;
  border-color: #4B5563;
  color: white;
}
.datatable-wrapper .datatable-top .datatable-dropdown {
  color: #6B7280;
  font-size: 0.875rem;
}
.dark .datatable-wrapper .datatable-top .datatable-dropdown {
  color: #9CA3AF;
}
.datatable-wrapper .datatable-top .datatable-dropdown .datatable-selector {
  background-color: #F9FAFB;
  color: #111827;
  font-size: 0.875rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  margin-right: 0.25rem;
  min-width: 4rem;
}
.dark .datatable-wrapper .datatable-top .datatable-dropdown .datatable-selector {
  background-color: #1F2937;
  border: 1px solid #374151;
  color: white;
}
.datatable-wrapper .datatable-container thead tr.search-filtering-row th {
  padding-top: 0;
}
.datatable-wrapper .datatable-search .datatable-input:focus {
  border-color: var(--color-primary-500) !important ;
}
.datatable-wrapper .datatable-container {
  overflow-x: auto;
}
.datatable-wrapper .datatable-table {
  width: 100%;
  font-size: 0.875rem;
  color: #6B7280;
  text-align: left;
}
.dark .datatable-wrapper .datatable-table {
  color: #9CA3AF;
}
.datatable-wrapper .datatable-table thead {
  font-size: 0.75rem;
  color: #6B7280;
  background-color: #F9FAFB;
}
.dark .datatable-wrapper .datatable-table thead {
  color: #9CA3AF;
  background-color: #1F2937;
}
.datatable-wrapper .datatable-table thead th {
  white-space: nowrap;
}
.datatable-wrapper .datatable-table thead th, .datatable-wrapper .datatable-table tbody th, .datatable-wrapper .datatable-table tbody td {
  width: auto !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.datatable-wrapper .datatable-table thead th .datatable-sorter, .datatable-wrapper .datatable-table thead th {
  text-transform: uppercase;
}
.datatable-wrapper .datatable-table thead th .datatable-sorter:hover, .datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter, .datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color: #111827;
}
.dark .datatable-wrapper .datatable-table thead th .datatable-sorter:hover, .dark .datatable-wrapper .datatable-table thead th.datatable-ascending .datatable-sorter, .dark .datatable-wrapper .datatable-table thead th.datatable-descending .datatable-sorter {
  color: white;
}
.datatable-wrapper .datatable-table tbody tr.selected {
  background-color: #F3F4F6;
}
.dark .datatable-wrapper .datatable-table tbody tr.selected {
  background-color: #374151;
}
.datatable-wrapper .datatable-table tbody tr {
  border-bottom: 1px solid #E5E7EB;
}
.dark .datatable-wrapper .datatable-table tbody tr {
  border-bottom: 1px solid #374151;
}
.datatable-wrapper .datatable-table .datatable-empty {
  text-align: center;
}
.datatable-wrapper .datatable-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 1rem;
  gap: 1rem;
}
.datatable-wrapper .datatable-bottom .datatable-info {
  color: #6B7280;
  font-size: 0.875rem;
}
.dark .datatable-wrapper .datatable-bottom .datatable-info {
  color: #9CA3AF;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 0.875rem;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  display: flex;
  align-items: center;
  color: #6B7280;
  font-weight: 500;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2rem;
  font-size: 0.875rem;
  border-top: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
  border-right: 1px solid #D1D5DB;
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  color: #9CA3AF;
  border-color: #374151;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type, .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type {
  position: relative;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link, .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color: transparent;
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link, .dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color: transparent;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%236B7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m14 8-4 4 4 4%27/%3e %3c/svg%3e");
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(-50%, -50%);
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%23111827%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m14 8-4 4 4 4%27/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%239CA3AF%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m14 8-4 4 4 4%27/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link:hover::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m14 8-4 4 4 4%27/%3e %3c/svg%3e");
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%236B7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m10 16 4-4-4-4%27/%3e %3c/svg%3e");
  position: absolute;
  top: 50%;
  right: 50%;
  width: 1.3rem;
  height: 1.3rem;
  transform: translate(50%, -50%);
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%23111827%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m10 16 4-4-4-4%27/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27%239CA3AF%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m10 16 4-4-4-4%27/%3e %3c/svg%3e");
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link:hover::after {
  content: url("data:image/svg+xml,%3csvg aria-hidden=%27true%27 xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 fill=%27none%27 viewBox=%270 0 24 24%27%3e %3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m10 16 4-4-4-4%27/%3e %3c/svg%3e");
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-left: 1px solid #D1D5DB;
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-left: 1px solid #374151;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: 0;
}
.datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color: #F9FAFB;
  color: #374151;
}
.dark .datatable-wrapper .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color: #374151;
  color: white;
}
@media (min-width: 640px) {

  .datatable-wrapper .datatable-top {
    align-items: center;
  }

  .datatable-wrapper .datatable-bottom {
    flex-direction: row;
    align-items: center;
  }
}
